@media screen and (max-width: 991px){.navbar {
    padding-right: 15px;
    padding-left: 15px;
}}
.navbar {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color:blue !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.33)), color-stop(99%, transparent));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.33), transparent 99%);
    
}

.w-nav {
    position: relative;
    background: #dddddd;
    z-index: 1000;
}

.navbar .w-nav{
    border-bottom: 1px solid black;
}

div {display: block;}

.w-container:before, .w-container:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-container:after {
    clear: both;
}
.w-nav[data-animation="over-right"] .w-nav-overlay, .w-nav[data-animation="over-right"] [data-nav-menu-open] {
    left: auto;
    z-index: 1;
    top: 0;
}
.w-nav[data-animation="over-right"] .w-nav-overlay {
    width: auto;
}
.w-nav-overlay {
    position: absolute;
    overflow: hidden;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
}
.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}
.long-text {
    margin-top: 7px;
    color: #fff;
    font-size: 26px;
    line-height: 26px;
}

.w-nav-menu {
    position: relative;
    float: right;
}
.nav-link.w--current {
    opacity: 1;
    color: #fff;
}
.nav-link {
    display: inline-block;
    padding: 10px 20px;
    opacity: 0.7;
    -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
    transition: opacity 200ms ease, -webkit-transform 200ms ease;
    transition: opacity 200ms ease, transform 200ms ease;
    transition: opacity 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
    font-family: Oxygen, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    width: 12vw;
}