<div data-collapse="tiny" data-animation="over-right" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav" style="opacity: 1;">
    <div class="w-container">
      <a href="/" aria-current="page" class="logo w-nav-brand w--current" aria-label="home">
        <img src="https://upload.wikimedia.org/wikipedia/ro/thumb/b/ba/Logo_Universitatea_Babe%C8%99-Bolyai.svg/1280px-Logo_Universitatea_Babe%C8%99-Bolyai.svg.png" alt="Logo UBB" class="logo"/>
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu" style="transform: translateX(0px) translateY(0px);">
        <a href="/" aria-current="page" class="nav-link w-nav-link w--current" style="max-width: 728px;">Home</a>
        <a href="/categories" class="nav-link w-nav-link" style="max-width: 728px;">my courses</a>
        <a href="/about" class="nav-link w-nav-link" style="max-width: 728px;">teachers</a>
        <a href="/contact" class="nav-link w-nav-link" style="max-width: 728px;">account</a>
      </nav>
  </div>
  </div>
