<app-navigation></app-navigation>
<div [style]="stylepcard">
  <div class="First">
  <h1>
    {{course.name}}
  </h1>
  <p>{{course.description}}</p>

  </div>

  <div *ngIf="!progress; else currentChapter">

    <p-button (click)="beginCourse()">
      Begin Course
    </p-button>
  </div>

  <ng-template #currentChapter>
    <div>
      <button pButton type="button" style="background-color:white;margin-left:20px;border:3px solid dodgerblue "icon="pi pi-caret-left"  class="p-button-text"  (click)="previousChapter()">
      </button>
      <button  pButton  style="background-color:white;border:3px solid dodgerblue " icon="pi pi-caret-right" class="p-button-text" (click)="nextChapter()">
      </button>
    </div>
    <div class="current" style="display:flex">
      <div class="align" style="flex:70%;overflow-y:hidden">
        
        <app-current-chapter [currentChapter]="getCurrentChapter()"></app-current-chapter>

      </div>

    <div class="third" style="flex:30%;float:right; margin-top: 10px;">
      <div *ngIf="!isEmpty">
        <p-listbox [options]="chapters">
          <ng-template let-chapter pTemplate="item">
            <span>{{chapter.title}}</span>
          </ng-template>
        </p-listbox>
        <app-course-chat [course]="course"></app-course-chat>
      </div>
    </div>
    <a *ngIf="progress?.isCourseComplete" [href]="course.quizUrl">
      Take Quiz
    </a>
  </div>
    
  </ng-template>

</div>
