.FirstPart{
  width:100%;

text-align:center;
}
.SecondPart{


  text-align: end;

}

.current{

  width:100%;

  text-align:center;

}
.currentChapt{
  width:90%;
  height: 50%;

  border: 3px solid black;
}

