<p-card>
  <div class="p-field">
    <label class="field-label"  for="chapter-title">Chapter Title</label>
    <input input class="contact-field w-input" id="chapter-title" pInputText [(ngModel)]="newChapterTitle" required/>
  </div>
  <div class="p-field">
    <label class="field-label" >Video</label>
    <div *ngIf="videoAttachment; else attachVideo">
      <label class="field-label" >{{videoAttachment.name}}</label>
      <i class="pi pi-cross" (click)="videoAttachment = undefined"></i>
    </div>
    <ng-template #attachVideo>
      <app-attach (attached)="videoAttached($event)" [isVideoOnly]="true"></app-attach>
    </ng-template>
  </div>
  <div class="p-field">
    <label class="field-label" >Attachments</label>
    <app-attach (attached)="addedAttachment($event)"></app-attach>
    <p-listbox [options]="attachments" optionLabel="name">
      <ng-template let-attachment pTemplate="item">
        <span>
          {{attachment.name}}
        </span>
        <i class="pi pi-cross" (click)="removeAttachment(attachment)"></i>
      </ng-template>
    </p-listbox>
  </div>
  <div class="p-field">
    <p-editor [(ngModel)]="newChapterDescription">
    </p-editor>
    <div>
      {{newChapterDescription}}
    </div>
  </div>

  <button class="button" (onClick)="created()">
    Submit
  </button>

</p-card>