<div style="display: flex; flex-direction: row;">

  <video class="chapter-video"  [src]="this.videoAttachment.downloadURL" controls>
</video>

</div>

<div class="description">
  <h2 class="chapter-title">{{chapter.title}}</h2>
  <div [innerHTML]="chapter.description" style="overflow: hidden;padding:0 10px; max-height: 800px;"></div>
</div>
<div *ngIf="Attachments!=[]" class="attachments">
  <div class="row" style="max-width:40%;margin-bottom:20px" >
    <div style="text-align: left" >
      <h2>{{this.num}} Attachments</h2>
      Click on the icon to see the attachment
    </div>
  </div>

  <div class="list" style="display:flex">
    <div *ngFor="let attachment of Attachments" style="padding:10px">
      <app-document-preview [id]="attachment.id"></app-document-preview>
    </div>
  </div>
</div>
