.chat-box{
    display: flex;
    flex-direction: column;
    float: right;
    position: sticky;
    
    margin-top: 100px;
    padding:10px;
    height: 300px; 
    width: 60%; 
    align-items: flex-start;
    box-sizing: border-box; 
    border: 1px solid black; 
    border-radius: 15px;
    overflow-y: scroll;
}
.intro {
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 5px;
    border-bottom: 1px solid #2196F3;
    width: 50%;
    
}
.sent-message {
 
    float: right;
   
    padding:10px;
    margin: 5px;
    max-width: 90%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #2196F3;
    color: white;
    font-family: Oxygen, sans-serif;
}
.received-message {
    padding:10px;
    margin: 5px;
    width: 95%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: grey;
    color: white;
    font-family: Oxygen, sans-serif;
}

.message-input{
    padding:5px;
    margin-top:10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 325px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    font-size: 1em;
}

.send-button {
    
}