<div style="margin-bottom: 20px" *ngIf="isChatStarted; else noChat">
 <h2 > Chat with {{authorName}}</h2>
  <div>
    <div *ngFor="let message of getMessages()">
      <span *ngIf="message.isSender">Me: </span>
      {{message.text}}
    </div>
  </div>

  <input type="text" pInputText class="p-inputtext-mm" [(ngModel)]="newMessageText"/>
  <p-button (click)="sendMessage()" icon=" pi pi-send"></p-button>
</div>
<ng-template #noChat>
  <div style="margin-bottom: 30px">
<p-button (onClick)="startChat()" >
  Start Chat
</p-button>
  </div>
</ng-template>
