.attach-icon-container {
  width: 60px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.attach-icon {
  width: 100%;
  height: auto;
  font-size: 36px
}
